<!DOCTYPE html>
<html>
    
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content help">
            {{>header}}
            <p>{{message}}<a href={{repo}}> Github repository </a></p>
            <p>Or drop me a mail at:<a href={{email}}>vvksingh6939@gmail.com</a></p>
        </div>

         {{>footer}}
   
    </body>
</html>