body{

    color: #333333;  
    font-family: arial; 
    max-width: 650px;   
    margin: 0 auto ;         
    padding: 0 16px; 
    
    display: flex;
    flex-direction: column;
    min-height:100vh;

}

.main-content{
    flex-grow: 1;
}

footer{

    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16Px;
    padding: 16px 0;
}


header{

    margin-top: 16px;
    margin-bottom: 48px;
}


h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {      /* this will target the links that are only inside the header not all the links on our site */

    color: #888888;
    margin-right: 16px;
    text-decoration: none;  /* By default links are underlined , by using this-we are removing the underlines */
}

.help a{

    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{

    cursor: pointer;
    border: 1px solid #888888;
    background: #888888 ;
    color: white;
    padding: 8px;
}

/*here also , we can directly use img{ width :250px } - but this will reduce the size of all of our images , which might 
not be good for bg images etc , so to avoid that we will use a concept of class selector we add a class to the image
which we are targeting in this case in the about.hbs we add a class=portrait to the image , here by using class selector 
.portrait - only that particular inmage will be targeted others will remain as they were.

